.title {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

.pokeCard {
    list-style: none;
}

.pokeList {
    list-style: none;
    width: 250px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}