.PokeCard {
    background-color: rgba(255, 255, 255, 0.781);
    border: 3px solid black;
    border-radius: 20px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 70px;
}

.pokeId {
    position: absolute;
    transform: translateX(175px);
    font-family: 'Press Start 2P', cursive;
    font-size: 8px;
}

.pokeListTypes {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    list-style: none;
    width: 60px;
    height: 20px;
    border-radius: 20px;
    transform: translate(120px, -123px);
}

.pokeball {
    height: 10px;
    width: 10px;
}

.pokename {
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Press Start 2P', cursive;
}

.poketype {
    display: flex;
    flex-direction: column;
}

.fire {
    background-color: rgba(255, 0, 0, 0.822);
}

.flying {
    background-color: rgba(0, 255, 213, 0.664);
}

.bug {
    background-color: rgba(206, 112, 45, 0.911);
}

.water {
    background-color: rgba(41, 129, 129, 0.767);
}

.poison {
    background-color: rgba(153, 50, 204, 0.87);
}

.grass {
    background-color: rgba(34, 139, 34, 0.842);
}